@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=UnifrakturMaguntia&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --title_h1: 36px;
    --color_blanco:#ffffff;
    --color_negro: #000000;
    --color_gris: #9D8875;
    --color_gris-oscuro: #42403f;

    --color_marron: #81440E;
    --parrafo: 21px;
    --enlace_header: 22px;
    --bg_header:  #2a2727; 
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
    background: #353030;
  }


/* header, */
 section{
    max-width:1200px;
    margin: 0 auto;   
    
}

section{
    background: #353030;
}

header{
    position: fixed;
    width:100%;
    height:75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
    z-index: 1;
    background-color: var(--bg_header);


    transform: translateY(-100%);
    opacity: 0;
    animation: slideDown 1.5s ease-out forwards;
    
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
  

.logo{
    display: flex;
    gap:20px;
    height:75px;
    cursor: pointer;
    border-radius: 50%;
    
}

.logo:hover{
    filter: brightness(123%);
    transition: .3s ease;
}
.navbar{
    max-width: 500px;
}

.navbar, .navbar-ul{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px; 
}

.navbar-ul li a{
    color: var(--color_marron);
    font-weight: 900;
    font-size: var(--enlace_header);  
    background: linear-gradient(90deg, #ce8282 0%, rgb(169, 10, 10));
    color:transparent;
    background-clip: text;
   letter-spacing: 1.5px;
   filter: brightness(110%);  
}

.navbar-ul li:hover{
    filter: brightness(150%);
    transition: .3s ease;
}


.navbar-ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 1px;
    background-color: rgb(73, 25, 11);
    border-bottom: 1px solid rgb(166, 47, 4);
    color: rgba(255, 119, 0, 0.186), 0 1px 2px rgba(0, 0, 0, .1);
    transition: width 0.4s ease; 
    background: linear-gradient(90deg, #ce8282 0%, rgb(185, 53, 53)); 
}

.navbar-ul li:hover::after {
    width: 100%;     
}

.navbar i{
    color: white;
    font-size: 30px;
    display: none;  
}


/* *********************mostrar icono del menu+++++++++++++ */
.open-menu{
    display: flex;
    /* z-index: 20; */
}
.open-cart{
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.overlay{
    position: absolute;
    top:65px;
    left:0;
    height:100vh;
    width:100%;
    background: rgba(64, 57, 57, 0.02);
    box-shadow:  0 8px 32px 0 rgba(31, 38, 135, 0.27);
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index:1000;
    display: none;

}
.overlayActive{
    display: block; 

}


@media(max-width:680px){
    header {
        padding: 0 40px; 
    }
    .carrito-container {
        margin-right: 10px; 
    }

    .card-carrito {
        min-width: 100%;
        right:0;
        padding: 20px; 
    }
   
}

/* @media(max-width:576px){ */
@media(max-width:661px){

    .navbar ul{
        background: linear-gradient( rgb(52, 41, 41) ,#643232);
        color:var(--color_blanco);
        border: 2px solid rgb(88, 32, 32);  /* cambiar  */
        height: calc(50vh - 75px);
        position: absolute;
        top:74px;
        width: 90%; 
        left:5%;
        right: 5%;
        border-top: 0;
        border-radius:  0 0 10px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        padding: 35px 130px;
        z-index: 2;
        display: none;

    }
    .navbar-ul li a{
        color:white;
    }
    .navbar i{
        display: block;
    }
    .navbar-ul.open-menu {
        display: flex;
    }

}
@media(max-width:661px){
.card__muebles{  
    width: 80vw;
}
}


/* portada */

.portada{ 
    position: relative;
    max-width: 1200px;
    height: 600px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-style: oblique; 
    
}

.portada video{
    width: 100vw;
    height: auto;
}

/* portada p */
.portada p {
    max-width:1000px;
    margin-top: 90px;
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 4rem; 
    margin: 0; 
    padding: 0 20px;
    font-family: "cursive";
    color: white;
    white-space: nowrap; 
    background-color: #080101b3;
    padding: 0 10px;
    opacity: 0;
    animation: slideDownP 2s ease-out forwards;

}
@keyframes slideDownP {
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.portada .description{
    position: absolute; 
    top: 40%; 
    left: 6%; 
    /* margin: 0 20px; */
    color: rgb(247, 247, 247);
   background-color: #080101bd;
    font-size: 33px;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
 
}
@keyframes wipe-in-down {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
}
  


@media(max-width:577px){
    .portada{ 
        max-width: 900px;
        height: auto;    
    }
    
    /* portada p */
    .portada p {
        max-width:900px;
        top: 50%; 
        left: 50%; 
        font-size: 3rem; 
    
    }
    .portada .description{
        top: 60%; 
        left: 6%; 
        font-size: 23px;
    }
    
}
.title__h1{
    font-size: var(--title_h1);
    text-align: center;
    padding:40px 0;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color_blanco);
    letter-spacing: 2px;
}


@media(max-width:420px){
    .portada p {
        max-width:900px;
        top: 55%; 
        left: 50%; 
        font-size: 2rem; 
    }
    .portada .description{
        top: 70%; 
        left: 2%; 
        font-size: 18px; 
    }  
    .title__h1{
        padding:30px 0;
        letter-spacing: 2px;
    }
}




/* productos */

.muebles{
    height:auto;   
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-bottom: 20px;

}

.category{
    padding:6px 15px;
    border-radius: 15px;
    border:none;
    background-color: #6f0000ac;
    color: white;
    font-size: 14px;    
    
}
.category:hover:before {
    transform: translate(-50%, -50%) scale(1);
}

.category:hover {
    background-color: #4e0101;
    background-image: linear-gradient(
    20deg,
    hsl(0deg 100% 20%) 0%,
    hsl(5deg 92% 24%) 8%,
    hsl(10deg 88% 27%) 16%,
    hsl(13deg 87% 30%) 24%,
    hsl(17deg 86% 33%) 32%,
    hsl(20deg 87% 36%) 41%,
    hsl(22deg 87% 38%) 49%,
    hsl(25deg 89% 41%) 57%,
    hsl(27deg 90% 43%) 66%,
    hsl(29deg 92% 45%) 74%,
    hsl(32deg 94% 47%) 83%,
    hsl(34deg 97% 49%) 91%,
    hsl(36deg 100% 50%) 100%
  );
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.097);
    transform: translateY(-5px);
    border:none;
    color: white;  
}

.category:focus {
    outline: none;
}
.active{background-color: #4e0101d8 ;}



.muebles__container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;  
    margin-top: 10px;
    margin-bottom: 20px;

}
@keyframes grow{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.01); 
    }  
    100%{
        transform: scale(1.03);
    }
}
.card__muebles{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    padding-top:10px;
    color:#ede0d1;
    font-weight: 700;
    font-size: 17px;
    gap:12px;
    padding: 20px 17px;
    box-shadow: 0px 0px 10px 5px rgba(157, 122, 122, 0.707);
}

 
.card__muebles:hover{
    box-shadow: 0 0 13px 5px rgba(6, 5, 5, 0.601), 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
}
.card__muebles .mueble__img{
        width:250px;
        height: 250px;
        animation: grow 2s alternate;  
    }
    
.card__muebles    .mueble__img img{
        width: 100%;
        height: 100%;
        border-radius: 4px;
         
    }   
    .card__muebles .mueble__img:hover{
        transform: scale(1.3);
        transition: all 2s ease-in-out;
         
    }   




.card__muebles .btn-carrito{
    background-color: var(--bg_header);
    padding:12px 18px; 
    border-radius: 18px;
    border: none;
    color:rgb(195, 189, 189); 
    font-size: 11px;
    font-weight: 700;   
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.card__muebles .btn-carrito:hover{
    background-color:  #393535;
    color:rgb(216, 211, 211); 
}

.muebles_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px; 
  
}

.muebles_btn button{
    padding:8px 15px;
    background: #980a0aaa;
    color:white;
    border: 1px solid #331805aa;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600; 
}
.muebles_btn button:hover{
    background-color: rgba(0, 0, 0, 0) ;
    border: 1px solid #980a0aaa;
    box-shadow: 1px 1px 1px 1px #84818187;
    box-shadow: 2px 2px 8px 4px #980a0a70;
    /* box-shadow: 0px 0px 10px 5px #980a0aaa; */
}
.hidden{
    display: none;
}

 


/* contacto */
.contacto{
    max-width: 1200px;
    height:600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom:40px; 
}


.contacto p{
    font-size: 26px;
    color: var(--color_blanco);
    border-radius: 9px;
    z-index: 4; 
    animation: 4s cubic-bezier(.25, 1, .30, 1) wipe-out-right both;
}
@keyframes wipe-out-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }


@keyframes aparecerDerecha {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    50% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }

    
}


.txtContact{
    width:70%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(231, 163, 163);
    box-shadow: 3px 3px 5px 4px rgba(239, 38, 38, 0.449); 
    box-shadow: 0px 0px 10px 5px rgb(157, 122, 122);
    background: linear-gradient(70deg, rgb(56, 8, 132) 40%,  #6f0000ac);
    filter: drop-shadow(5px 5px 10px  #6f0000ac);
    animation: caer 0.8s ease-in-out 1; 

}

@keyframes caer {
    0% {
      transform: translateX(0) translateY(20px) rotate(0deg); 
    }
    30% {
      transform: translateX(20px) translateY(0) rotate(12deg); 
    }
  }
@media(max-width:420px){

  .txtContact {
    /* width: 97%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
  }
  .card__muebles .mueble__img:hover{
    transform: scale(1.2);
     
}  
}


/* Ícono de WhatsApp */
.fab {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 220px;
    bottom: 20px;
    text-align: center;
    font-size: 28px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 4;
}
.fab:hover {
    background-color: #128c7e;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.fab i {
    color: white;
}


/* footer */
.footer{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80px;
    background-color:var(--bg_header);
    background-color: #2a2727;
}
.footer .footer_text{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(90deg, #ce8282 0%, rgb(169, 10, 10));
    color:transparent;
    background-clip: text;
    filter: brightness(150%);
    padding: 0 20px ;
}






